body {
    font-size: 100%;
    line-height: 120%;
    font-family: $font;
    color: $textcolor;
    background-color: $maincolor;
}

.link {
   text-align: center;
    background-color:#f3e66f;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
        a { text-decoration: none;
    color: $linkcolor;
    align-self: center;
    transition: all 0.5s ease-in;

        }
}

.link a:hover, .link a:active {
    color: green;
    text-decoration: underline blue dotted;
    text-decoration-thickness: 15%;
   
   
}