extends ../layouts/master-page
include ../mixins/mixin
block variables
    -var pagetitle = 'Main page'

block content 
    h1 main page
    .card 
        .link 
            a(href="contacts.html")
                | Contacts
            a(href="#") Another link
        p#text. 
            Another text with me 
            And more 
    +card("you can see card here", "card.html")  